RewriteEngine On

# Ensure request doesn't point directly to a physical file or folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything remaining to index.php
RewriteRule ^ index.php [QSA,L]
